<div class="row justify-content-center mt-4">
  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let hero of heros" [ngClass]= "{'text-success' : hero === 'Hulk'}">{{hero | lowercase }}</li>
      <li class="list-group-item">
        <button class="btn btn-primary" (click)="AddMore()">Add More</button>
      </li>
      <li class="list-group-item" *ngIf="adding">
        <input type="text" class="form-control" [(ngModel)]="inputHero">
        <hr class="my-3">
        <button class="btn btn-success" [disabled]="!inputHero" (click)="addHero()" >Add Hero</button>
      </li>
    </ul>
  </div>
</div>